<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style type="text/css">
    .table {
      width: 1140px;
      margin: 0 auto;
      /*width:100px;*/
      /*height:100px;*/
      overflow:scroll;
      overflow-x:scroll;
      overflow-y:scroll;
    }
    table {
      width: 1140px;
      border: 1px solid #989898;
      border-collapse: collapse;
    }
    th,td {
      text-align: center;
      height: 70px;
      border: 1px solid #989898;
      color: #1f2c81;
    }
    th {
      background-color: #cce6fd;
    }
  </style>
</head>
<body>
  <div class="table">
    <table border="0" align="top" cellpadding="0" cellspacing="0" bgcolor="#eeeeee">
      <thead>
        <th>#</th>
        <th>First</th>
        <th>Last</th>
        <th>Handle</th>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th>3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
